{
  "components": {
    "schemas": {
      "GenerateAuthTokenRequest": {
        "properties": {
          "token_name": {
            "description": "Nom facultatif du jeton d’authentification permettant d’identifier son utilisation.",
            "example": "Production API Key",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GenerateAuthTokenResponse": {
        "properties": {
          "auth_token": {
            "description": "Le jeton d’authentification nouvellement généré. Conservez-le en lieu sûr, car il ne pourra pas être récupéré ultérieurement.",
            "example": "pplx-1234567890abcdef",
            "type": "string"
          },
          "created_at_epoch_seconds": {
            "description": "Horodatage Unix (en secondes) de la création du jeton.",
            "example": 1735689600,
            "type": "number"
          },
          "token_name": {
            "description": "Le nom associé à ce jeton, le cas échéant.",
            "example": "Production API Key",
            "type": "string"
          }
        },
        "required": [
          "auth_token",
          "created_at_epoch_seconds"
        ],
        "type": "object"
      },
      "RevokeAuthTokenRequest": {
        "properties": {
          "auth_token": {
            "description": "Le jeton d’authentification à révoquer.",
            "example": "pplx-1234567890abcdef",
            "type": "string"
          }
        },
        "required": [
          "auth_token"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "scheme": "bearer",
        "type": "http"
      }
    }
  },
  "info": {
    "description": "API Perplexity AI - Gestion de l’authentification",
    "title": "Perplexity AI API - Authentication",
    "version": "1.0.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/generate_auth_token": {
      "post": {
        "description": "Génère un nouveau jeton d’authentification pour accéder à l’API.",
        "operationId": "generate_auth_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAuthTokenRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateAuthTokenResponse"
                }
              }
            },
            "description": "Jeton d’authentification généré avec succès."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Générer un jeton d’authentification"
      }
    },
    "/revoke_auth_token": {
      "post": {
        "description": "Révoque un jeton d’authentification existant.",
        "operationId": "revoke_auth_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeAuthTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Jeton d’authentification révoqué avec succès."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Révoquer un jeton d’authentification"
      }
    }
  },
  "servers": [
    {
      "description": "API Perplexity AI",
      "url": "https://api.perplexity.ai"
    }
  ]
}