{
  "components": {
    "schemas": {
      "GenerateAuthTokenRequest": {
        "properties": {
          "token_name": {
            "description": "Nombre opcional del token de autenticación para ayudar a identificar su propósito.",
            "example": "Production API Key",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GenerateAuthTokenResponse": {
        "properties": {
          "auth_token": {
            "description": "El token de autenticación recién generado. Guárdalo de forma segura, ya que no se podrá recuperar.",
            "example": "pplx-1234567890abcdef",
            "type": "string"
          },
          "created_at_epoch_seconds": {
            "description": "Marca de tiempo Unix (en segundos) de creación del token.",
            "example": 1735689600,
            "type": "number"
          },
          "token_name": {
            "description": "El nombre asociado a este token, si se proporcionó.",
            "example": "Production API Key",
            "type": "string"
          }
        },
        "required": [
          "auth_token",
          "created_at_epoch_seconds"
        ],
        "type": "object"
      },
      "RevokeAuthTokenRequest": {
        "properties": {
          "auth_token": {
            "description": "El token de autenticación que se va a revocar.",
            "example": "pplx-1234567890abcdef",
            "type": "string"
          }
        },
        "required": [
          "auth_token"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "scheme": "bearer",
        "type": "http"
      }
    }
  },
  "info": {
    "description": "API de Perplexity AI: gestión de autenticación",
    "title": "Perplexity AI API - Authentication",
    "version": "1.0.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/generate_auth_token": {
      "post": {
        "description": "Genera un nuevo token de autenticación para acceder a la API.",
        "operationId": "generate_auth_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAuthTokenRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateAuthTokenResponse"
                }
              }
            },
            "description": "Token de autenticación generado correctamente."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Generar token de autenticación"
      }
    },
    "/revoke_auth_token": {
      "post": {
        "description": "Revoca un token de autenticación existente.",
        "operationId": "revoke_auth_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeAuthTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Token de autenticación revocado correctamente."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Revocar token de autenticación"
      }
    }
  },
  "servers": [
    {
      "description": "API de Perplexity AI",
      "url": "https://api.perplexity.ai"
    }
  ]
}