{
  "components": {
    "schemas": {
      "GenerateAuthTokenRequest": {
        "properties": {
          "token_name": {
            "description": "認証トークンの用途を識別するための任意の名前。",
            "example": "Production API Key",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GenerateAuthTokenResponse": {
        "properties": {
          "auth_token": {
            "description": "新しく生成された認証トークンです。一度しか表示されないため、安全に保管してください。",
            "example": "pplx-1234567890abcdef",
            "type": "string"
          },
          "created_at_epoch_seconds": {
            "description": "トークンの作成時刻を表す Unix タイムスタンプ（秒）。",
            "example": 1735689600,
            "type": "number"
          },
          "token_name": {
            "description": "指定されている場合、このトークンに関連付けられた名前。",
            "example": "Production API Key",
            "type": "string"
          }
        },
        "required": [
          "auth_token",
          "created_at_epoch_seconds"
        ],
        "type": "object"
      },
      "RevokeAuthTokenRequest": {
        "properties": {
          "auth_token": {
            "description": "取り消す認証トークン。",
            "example": "pplx-1234567890abcdef",
            "type": "string"
          }
        },
        "required": [
          "auth_token"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "scheme": "bearer",
        "type": "http"
      }
    }
  },
  "info": {
    "description": "Perplexity AI API - 認証管理",
    "title": "Perplexity AI API - Authentication",
    "version": "1.0.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/generate_auth_token": {
      "post": {
        "description": "API アクセス用の新しい認証トークンを生成します。",
        "operationId": "generate_auth_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAuthTokenRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateAuthTokenResponse"
                }
              }
            },
            "description": "認証トークンが正常に生成されました。"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "認証トークンを生成"
      }
    },
    "/revoke_auth_token": {
      "post": {
        "description": "既存の認証トークンを取り消します。",
        "operationId": "revoke_auth_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeAuthTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "認証トークンが正常に取り消されました。"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "認証トークンを取り消す"
      }
    }
  },
  "servers": [
    {
      "description": "Perplexity AI API",
      "url": "https://api.perplexity.ai"
    }
  ]
}