{
  "components": {
    "schemas": {
      "GenerateAuthTokenRequest": {
        "properties": {
          "token_name": {
            "description": "身份验证令牌的可选名称，便于识别其用途。",
            "example": "Production API Key",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GenerateAuthTokenResponse": {
        "properties": {
          "auth_token": {
            "description": "新生成的身份验证令牌。请妥善保存，之后无法再次获取。",
            "example": "pplx-1234567890abcdef",
            "type": "string"
          },
          "created_at_epoch_seconds": {
            "description": "令牌创建时间的 Unix 时间戳（以秒为单位）。",
            "example": 1735689600,
            "type": "number"
          },
          "token_name": {
            "description": "与此令牌关联的名称（如有提供）。",
            "example": "Production API Key",
            "type": "string"
          }
        },
        "required": [
          "auth_token",
          "created_at_epoch_seconds"
        ],
        "type": "object"
      },
      "RevokeAuthTokenRequest": {
        "properties": {
          "auth_token": {
            "description": "要撤销的身份验证令牌。",
            "example": "pplx-1234567890abcdef",
            "type": "string"
          }
        },
        "required": [
          "auth_token"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "scheme": "bearer",
        "type": "http"
      }
    }
  },
  "info": {
    "description": "Perplexity AI API - 身份验证管理",
    "title": "Perplexity AI API - Authentication",
    "version": "1.0.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/generate_auth_token": {
      "post": {
        "description": "生成用于访问 API 的新身份验证令牌。",
        "operationId": "generate_auth_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAuthTokenRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateAuthTokenResponse"
                }
              }
            },
            "description": "身份验证令牌已成功生成。"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "生成身份验证令牌"
      }
    },
    "/revoke_auth_token": {
      "post": {
        "description": "撤销现有身份验证令牌。",
        "operationId": "revoke_auth_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeAuthTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "身份验证令牌已成功撤销。"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "撤销身份验证令牌"
      }
    }
  },
  "servers": [
    {
      "description": "Perplexity AI API",
      "url": "https://api.perplexity.ai"
    }
  ]
}